
<%= button_tag "Clear All Fields", type: :reset, class: 'button clear-all-button' %>

<%= simple_form_for @order do |f| %>
	
<div class="container-fluid">
	<div class="row coords-box">
		<div class="col-xs-8 form-input">
			<%= f.input :zone, collection: [ "FRI", "GAK", "TBN", "BMP", "NEU", "SCH", "BMO", "WIL", "BFS", "BWE", "BWG" ] %>
			<% end %>
		</div>
	</div>

	<div class="row coords-box">
		<div class="col-xs-8 form-input">
			<%= f.input :restaurant %>
		</div>
	</div>

	<div class="row coords-box">
		<div class="col-xs-8 form-input">
			<%= f.input :fee, input_html: { id: 'fee' } %>
		</div>
	</div>

	<div class="row coords-box">
		<div class="col-xs-12 instructions-wrapper">
			<p class="form-instructions">1. Add starting point coordinates </p>
			<div class="add-button">+</div>
		</div> <!-- end of instructions wrapper -->
		<div class="col-xs-8 form-input">
			<%= f.input :start_point, label: false,  input_html: { id: 'coordinatesStart' } %>
		</div>
		<div class="col-xs-3 button clear-button">Clear field</div>
	</div> <!-- end of row -->
			
	<div class="row coords-box">
		<div class="col-xs-12 instructions-wrapper">
			<p class="form-instructions">2. Add restaurant coordinates </p>
			<div class="add-button">+</div>
		</div> <!-- end of instructions wrapper -->
		<div class="col-xs-8 form-input">
			<%= f.input :restaurant_location, label: false, input_html: { id: 'coordinatesRest' } %>
		</div>	
		<div class="col-xs-3 button clear-button">Clear field</div>
	</div> <!-- end of row -->

	<div class="row coords-box">
		<div class="col-xs-12 instructions-wrapper">
			<p class="form-instructions">3. Add customer coordinates </p>
			<div class="add-button">+</div>
		</div> <!-- end of instructions wrapper -->
		<div class="col-xs-8 form-input">
			<%= f.input :customer_location, label: false, input_html: { id: 'coordinatesCust' } %>
		</div>
		<div class="col-xs-3 button clear-button">Clear field</div>
	</div> <!-- end of row -->
</div> <!-- end of container -->

<%= f.button :submit, "Save Order", class: "save-button" %>

<% end %>
