<h2>Orders</h2>

<p>Click the button to get your coordinates.</p>
<button onclick="getLocation()">Try It</button>
<p id="demo"></p>

<h3><%= link_to "Add order", new_order_path %></h3>
<h3 class="order-info">Start Point</h3>
<h3 class="order-info">Restaurant Location</h3>
<h3 class="order-info">Customer Location</h3>
<h3 class="order-info">Fee</h3>
<% @orders.each do |order| %>
	<h4 class="order-info"><%= order.start_point %></h4>
	<h4 class="order-info"><%= order.restaurant_location %></h4>
	<h4 class="order-info"><%= order.customer_location %></h4>
	<h4 class="order-info"><%= sprintf("%2.2f", order.fee) %></h4>
	<%= link_to "Edit", edit_order_path(order) %>
	<%= link_to "Delete", order_path(order), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>