<p class="info-text">Here is a list of all the orders added by all riders. To add orders yourself please create an account and hit 'Add Order'. To view more info about each order, click the restaurant names in the list. To view the orders you've added yourself click 'View My Orders'. You can also download the data using the links below.</p>

<!-- Only allow viewing own orders and adding orders if signed in -->
<% if user_signed_in? %>
  <p><%= link_to "View My Orders", user_orders_path(current_user.id), class: "link-button button" %>
  <%= link_to "Add Order", new_order_path, class: "link-button button" %></p>
<% else %>  
  <p class="index-button"><%= link_to "View My Orders", new_user_session_path, class: "link-button button" %> | <%= link_to "Add Order", new_user_session_path, class: "link-button button" %></p>
<% end %>

<h3>All Orders</h3>

<p>Download all order data:
	<%= link_to "CSV", orders_path(format: "csv") %> |
	<%= link_to "Excel", orders_path(format: "xls") %>
</p>

<h3 class="order-info order-info-header">Restaurant</h3>
<h3 class="order-info order-info-header">Dist. to Rest. (m)</h3>
<h3 class="order-info order-info-header">Dist. to Cust. (m)</h3>
<h3 class="order-info order-info-header">Total (m)</h3>
<h3 class="order-info order-info-header">Fee (€)</h3>

<% @orders.each do |order| %>
	<div class="order-box">
		<h4 class="order-info"><%= link_to order.restaurant, order_path(order) %></h4>
		<h4 class="order-info"><%= order.restaurant_to_customer_distance.round(0) %></h4>
		<h4 class="order-info"><%= order.start_to_restaurant_distance.round(0) %></h4>
		<h4 class="order-info"><%= order.total_distance.round(0) %></h4>
		<h4 class="order-info"><%= order.fee %></h4><br>
		
		<% if user_signed_in? %> <!-- only show edit and delete of user's own orders -->
			<% if order.user_id == current_user.id %>
				<%= link_to "Edit", edit_order_path(order) %>
				<%= link_to "Delete", order_path(order), method: :delete, data: { confirm: "Are you sure?" } %><br>
			<% end %>
		<% end %>
	</div>
<% end %>



