<h2><%= @order.restaurant %></h2>

<h4><strong>Fee: </strong><%= @order.fee %></h4>
<h4><strong>Distance to Restaurant: </strong><%= @order.start_to_restaurant_distance.round(0) %>m</h4>
<h4><strong>Distance to Customer: </strong><%= @order.restaurant_to_customer_distance.round(0) %>m</h4>
<h4><strong>Total Distance: </strong><%= @order.total_distance.round(0) %>m</h4>
<br>

<h4><strong>Start Point: </strong><%= @order.start_point.split(', ').map { |e| e.to_f.round(5) } %></h4>
<h4><strong>Restaurant Location: </strong><%= @order.restaurant_location.split(', ').map { |e| e.to_f.round(5) } %></h4>
<h4><strong>Customer Location: </strong><%= @order.customer_location.split(', ').map { |e| e.to_f.round(5) } %></h4>
<br>

<%= link_to "Back To Orders", orders_path %><br>
<% if user_signed_in? %>
	<% if @order.user_id == current_user.id %>
		<%= link_to "Edit", edit_order_path(@order) %><br>
		<%= link_to "Delete", order_path(@order), method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>
<% end %>


