<h2>My Orders</h2>
<p>Download my order data:
	<%= link_to "CSV", user_orders_path(current_user.id, format: "csv") %> |
	<%= link_to "Excel", user_orders_path(current_user.id, format: "xls") %>
</p>
<% @orders.each do |order| %>
	<div class="order-box">
		<h4 class="order-info"><%= link_to order.restaurant, order_path(order) %></h4>
		<h4 class="order-info"><%= order.restaurant_to_customer_distance.round(0) %></h4>
		<h4 class="order-info"><%= order.start_to_restaurant_distance.round(0) %></h4>
		<h4 class="order-info"><%= order.total_distance.round(0) %></h4>
		<h4 class="order-info"><%= order.fee %></h4><br>
		
		<% if user_signed_in? %> <!-- only show edit and delete of user's own orders -->
			<% if order.user_id == current_user.id %>
				<%= link_to "Edit", edit_order_path(order) %>
				<%= link_to "Delete", order_path(order), method: :delete, data: { confirm: "Are you sure?" } %><br>
			<% end %>
		<% end %>
	</div>
<% end %>

